
  <div class="wrapper">
    <div class="page-header section section-dark" style="background-color:#0b1011!important">
        <div class="content-center">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2 class="title bold">Како е направен пресметувачот?</h2>
            </div>
        </div>

    </div>


    <div class="bg-white py-5">
      <div class="container py-5">
        <div class="row align-items-center mb-5">
          <div class="col-lg-6 order-2 order-lg-1">
            <h2 class="font-weight-light">Пресметки на јаглеродна стапка за енергија
<br>
            </h2>
            <p class=" ">
              Јаглеродната стапка во секторот на енергија е оној кој има најголема варијација во зависност од земјата во која се наоѓаме. Во Македонија 76% од електричната енергија доаѓа од термоцентрали кои вршат согорување на фосилни горива (РЕК Битола, ТЕЦ Осломеј и др.), 18% од хидроцентрали, а 6% од ветерници и соларни системи.

За овој сектор најголема помош ни беше публикацијата: „Прирачник за користење на моделот за пресметка на јаглероден отпечаток на училиштата“ од НВО „Гоу Грин - Биди Зелен“ https://drive.google.com/file/d/1NixcWaU5arUKcU7syDSfo7Pa0BQENTef/view.

Ги користевме емисионите фактори (kg/kWh) и останатите параметри кои се добиени од извештајот за климатски промени на Македонија.
  rhttps://unfccc.int/files/national_reports/non-annex_i_parties/biennial_update_reports/application/pdf/
  3_macedonian_sbur_national_inventory_report.pdf

          </p>
          </div>

          <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img src="https://www.flaticon.com/svg/static/icons/svg/2640/2640575.svg" alt="" class="img-fluid mb-4 mb-lg-0">
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-5 px-5 mx-auto"><img src="https://www.flaticon.com/svg/static/icons/svg/3520/3520089.svg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          <div class="col-lg-6">

            <h2 class="font-weight-light">Пресметки на јаглеродна стапка за транспорт
            </h2>
            <p class=" text-muted mb-4">
              Во оваа категорија важно е да се земат податоци на неделно ниво колку km поминуваме во нашите возила, автобус или велосипед.
              Секој автомобил во зависност од типот на нафта и година на производство емитира различен број на gCO2/km.
              Затоа за да ја добиеме константата на емисија на CO2/km за секое возило ги користиме следните податоци од European Environment Agency
              https://www.eea.europa.eu/data-and-maps/indicators/average-co2-emissions-from-motor-vehicles/assessment-1.
              Просечен градски скутоер испушта 0,11 kgCO2/km http://www.fim-live.com/en/fim/the-commissions/sustainability/motorcycle-co2-emission-calculator/,
               a градски автобус околу 0,7 kgCO2/km по човек https://www.delijn.be/en/overdelijn/organisatie/zorgzaam-ondernemen/milieu/co2-uitstoot-voertuigen.html.
              </p>
          </div>
        </div>
      </div>
    </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2 class="font-weight-light">Пресметки на јаглеродна стапка за прехрана
          </h2>
          <p class=" text-muted mb-4">
            Типот на прехрана има голема важност за јаглеродната стапка кај поединецот.
            Ја користевме оваа публикација https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4372775/ во која се пресметува јаглеродната стапка во зависност од типот на прехрана. Како на пример: веганска, вегетаријанска, храна со малку меско  (помалку од 50g), храна со среден удел на месо  (50g - 100g), храна со многу месо (повеќе од 100g).

            Исто така, голем фактор во уделот на јаглеродната стапка е и количината на храна која ја фрламе, односно не ја јадеме.
             За секој 1kg фрлена храна нашата јаглеродна стапка се зголемува за 2.5 kgCO2. http://www.fao.org/3/i3347e/i3347e.pdf
                 </p>
        </div>

        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
          <img src="https://www.flaticon.com/svg/static/icons/svg/498/498229.svg" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://www.svgrepo.com/show/276091/recycling-recycle.svg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6">

          <h2 class="font-weight-light">Пресметки на јаглеродна стапка за отпад, облека и патувања

          </h2>
          <p class=" text-muted mb-4">
            Авионското патување е еден од најголемите загадувачи на планетата земја.
            Земајќи го во предвид просечниот авион за средни дестинации како и останатите емисии на гасови кои се случуваат на повисоките слоеви во нашата атмосфера дојдовме до бројка од 250 kgCO2/h. https://www.carbonindependent.org/22.html

            Купувањето на нова облека е исто така важен фактор бидејќи поминува цел логистички ланец да стигне до нашите домови.
            Најчесто облеката која ја купуваме доаѓа од земји како Кина, Индија, Индонезија, Тајланд, Турција.
             За таа цел користиме податоци од марка за облека која повеќето од своите парчиња облека ги создава во тие
             земји https://www.ecotricity.co.uk/news/news-archive/2018/the-carbon-footprint-of-getting-dressed.

            Бидејќи во нашата земја свеста за рециклирање е на многу мало ниво се обидовме да направиме естимација на
            тоа колку ѓубре фрла еден жител на Македонија во просек. Користејќи ги официјалните податоци на владините
            сајтови http://www.stat.gov.mk/PrikaziSoopstenie_en.aspx?rbrtxt=80 дознавме дека во просек секој човек фрла 456kg отпад контејнерите во Македонија.
             Еден килограм отпад создава 18kgCO2 https://www.skepticalscience.com/behind_the_Lines_CO2_shotput.html.
             Во случај на рециклирање и реупотреба на отпадот можеме да дојдеме до намалување на нашата јаглеродна стапка.

            </p>
        </div>
      </div>
    </div>
  </div>



</div>


