<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('../../../assets/img/bike.jpg')">
        <div class="content-center">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2 class="title bold">Број еден алтернативен превоз</h2>
            </div>
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Зошто да возите велосипед?</h2>
                    <h5 class="description">
                        According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
                        NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs
                         year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.
                         Најдобриот избор за движење од точка А до точка Б. Мобилни сте како пешак, но брзи како автомобил во град. Докажано е дека на градски релации помали од 15 минути најбргу се стига со велосипед отколку со сите останати транспортни средства. Најголемата група на ентузијасти во градот Скопје е #НаТочак. http://natochak.blogspot.com/. Можете да ги најдете во Скопје секоја последна среда во месецот како ја возат Критичната Маса. Можете да им се приклучите за да го направите Скопје вело-град. Исто така, постојат повеќе локални #НаТочак ентузијасти како што се во Тетово, Прилеп, Битола, Кочани и др. За да се купи градски велосипед не се потребни многу средства. Најдобра опција е да се купи стар велосипед од претходен сопственик. Но, доколку сакате нови велосипеди, одлична опција е да аплицирате за субвенции од вашиот град или општина.
                          Град Скопје нуди такво нешто. Треба само да наидете јавен повик за субвенции.
                          <a href="https://skopje.gov.mk/mk/apliciraj/javni-povici"> https://skopje.gov.mk/mk/apliciraj/javni-povici</a>

                        </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('https://wallpaperaccess.com/full/2286646.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                "Over the span of the satellite record,
                                Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                <br>
                                <br>
                                <small>-NOAA</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('https://wallpaperaccess.com/full/2286646.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('https://www.vi.gov/wp-content/uploads/2019/11/imgbin-recycling-symbol-waste-hierarchy-reuse-recycle-XurzYWPy0E0mncZEp72PLct2w.jpg')"></div>
                        <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>