<form [formGroup]="energyForm" (ngSubmit)="saveEnergyForm()">

     <h4>Колкава е вашата годишна потрошувачка на енергија?</h4><br>



  <div formGroupName="potrosuvacka">
    <div class="form-group">
      <label>Струја</label>
      <input type="number" class="form-control" min="0" formControlName="struja"  placeholder="">
    </div>
    <div class="form-group">
      <label>Парно</label>
      <input type="number" min="0" formControlName="parno" class="form-control" placeholder="">
    </div>

    <div class="form-group">
      <label>Нафта</label>
      <input type="number" min="0" formControlName="nafta" class="form-control" placeholder="">
    </div>

    <div class="form-group">
      <label>Пелети</label>
      <input type="number" min="0" formControlName="paleti" class="form-control" placeholder="">
    </div>

    <div class="form-group">
      <label>Дрва</label>
      <input type="number" min="0" formControlName="drva" class="form-control" placeholder="">
    </div>

  </div>
  <h4>Колку луѓе живеат во вашиот дом?</h4>
  <div class="form-group">
  <label for="">Број на членови</label>
    <input type="number" min="0" formControlName="lugjeDomakinstvo" class="form-control" placeholder="Број на членови..">
  </div>

<button  class="btn btn-success button"type="submit">Следно</button>
</form>

