
  <div class="custom">
    <div class="row custom">
      <div class="my-auto col-md-8 col-lg-8 ">
            <div class="card mx-auto">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="my-auto col-md-4 col-lg-4 custom-right">
        <div class="card w-25 mx-auto" style="width: 18rem;">
          <img class="card-img-top"
          src="/src/assets/img/stefan-slika.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
  <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
