<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('../../../assets//img/air.jpg')">
        <div class="content-center">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2 class="title bold">Едуцирај се за воздухот кој го дишеш</h2>
            </div>
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Воздухот кај нас</h2>
                    <h5 class="description">
                        Македонија е една од земјите во светот со назагаден воздух. Главната причина за тоа е
                         согорувањето на фосилни горива (76% од нашата електрична енергија), греењет,урбанизацијата и градежни активности, стари автомобили, климатска положба.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('https://wallpaperaccess.com/full/2286646.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                Главното прашање е како да се бориме против овој проблем? Одговорот е за жал сложен.Требаат години да се избориме со овој проблем.
                                За време на зимските месеци се соочуваме со најголемо ниво на загадување. Еден од главните проблеми е што граѓаните се греат на дрва и останати запалливи материјали. Количеството на ПМ честички кои се создаваат со греење на дрва, палети или масло е далеку поголемо од тоа на централно греење или греење со природен гас. На страната на БЕГ https://beg-snabduvanje.com.mk/kalkulator/ може да најдете калкулатор кој ќе покаже какво влијание имаат видовите на греење во делот на животна средина и вашиот буџет. Идеално би било доколку
                                 секое домаќинство може да се приклучи на централно греење или греење со природен гас. Доколку може направете го тоа.
                                <br>

                                <br>
                                <small></small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('https://wallpaperaccess.com/full/2286646.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('https://www.vi.gov/wp-content/uploads/2019/11/imgbin-recycling-symbol-waste-hierarchy-reuse-recycle-XurzYWPy0E0mncZEp72PLct2w.jpg')"></div>
                        <p>Од здравствениот дел најдобро е да избегнувате излегување надвор за време на денови со висока загаденост, да носите маска доколку е загадено или користите прочистувач на воздух.
                            За среќа, во Макеоднија има неколку мерни станици кои може да се следат на страната МојВоздух.
                            <a href="https://mojvozduh.eu/web/">https://mojvozduh.eu/web/</a>
                            Нашите бели дробови можеме да ги заштитиме со носење на соодветна маска. Прирачник за тоа каква маска можеме да купиме:
                            <a href="https://medium.com/@jovanovski/%D0%BA%D0%B0%D0%BA%D0%B2%D0%B0-%D0%BC%D0%B0%D1%81%D0%BA%D0%B0-%D1%82%D1%80%D0%B5%D0%B1%D0%B0-%D0%B4%D0%B0-%D0%BD%D0%BE%D1%81%D0%B8%D1%88-%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2-%D0%B7%D0%B0%D0%B3%D0%B0%D0%B4%D1%83%D0%B2%D0%B0%D1%9A%D0%B5%D1%82%D0%BE-a00c0dfe31db"> https://medium.com/@jovanovski/%D0%BA%D0%B0%D0%BA%D0%B2%D0%B0-%D0%BC%D0%B0%D1%81%D0%BA%D0%B0-%D1%82%D1%80%D0%B5%D0%B1%D0%B0-%D0%B4%D0%B0-%D0%BD%D0%BE%D1%81%D0%B8%D1%88-%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2-%D0%B7%D0%B0%D0%B3%D0%B0%D0%B4%D1%83%D0%B2%D0%B0%D1%9A%D0%B5%D1%82%D0%BE-a00c0dfe31db
                            </a>
                            На страната на МојВоздух може да најдете и повеќе информации за какви прочистувачи на воздух има на пазарот.

                        </p>
                        <p>
                            Останува на времето, институциите, владата, ветерот и ние самите да се бориме за чист воздух.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>