<form [formGroup]="dietForm" (ngSubmit)="saveDietForm()" >
    <label for="">
        <h4>Кој е вашиот тип на исхрана?</h4>
    </label>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="dieta" id="exampleRadios1" value="vegan" checked>
          <label class="form-check-label" for="exampleRadios1">
                Веган
            </label>
            <small id="" class="form-text text-muted">Не јадете производи од животинско потекло.</small>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="dieta" id="exampleRadios2" value="vegetarian">
          <label class="form-check-label" for="exampleRadios2">
            Вегетаријанец
          </label>
          <small id="" class="form-text text-muted">Не јадете производи од месно потекло.</small>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="dieta"id="exampleRadios2" value="low-meat">
          <label class="form-check-label" for="exampleRadios2">
            Ниско количество на месо
          </label>
          <small id="" class="form-text text-muted">Дневно јадете помалку од 50г месо.</small>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="dieta" id="exampleRadios2" value="medium-meat">
          <label class="form-check-label" for="exampleRadios2">
            Средно количество на месо
          </label>
          <small id="" class="form-text text-muted"> Дневно јадете од 50г до 100г месо.</small>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="dieta" id="exampleRadios2" value="high-meat">
          <label class="form-check-label" for="exampleRadios2">
            Високо количество на месо
          </label>
          <small id="" class="form-text text-muted">Дневно јадете над 100г месо.</small>

        </div>

        <div class="form-group">
          <label>Колкаво количество на храна фрлате?</label>
          <input type="number" min="0" max="100" formControlName="frlanjeHrana" class="form-control" placeholder="">
          <small id="" class="form-text text-muted">Проценете колку од храната што ја готвите и јадете завршува во канта(0-100%).</small>


        </div>

<!--
    <h4>Колкаво количество на храна фрлате?</h4>

    <mat-slider formControlName="frlanjeHrana"
      #gridsize
      (change)="updateSetting($event)"
      thumbLabel
      tickInterval="1000"
      min="0"
      max="100">
    </mat-slider>
  -->
     <button class = "btn btn-success button" type="submit">Следно</button>
  </form>