<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('../../assets/img/skopje.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="" alt="">
                    </div>
                    <h1 class="presentation-title">МојОтпечаток</h1>

                </div>
                <h2 class="presentation-subtitle text-center ">

                    Пресметајте го вашиот индивидуален јаглероден отпечаток. Станете свесни за еколошките проблеми и дејствувајте.
                    Почнете од тука!

                <br>
                <br>
                <!-- <a href="#kviz" class="btn btn-success btn-round " style="text-align: center;"> Пресметај </a> -->

                    </h2>


            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>


    <div class="main">



        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Што е јаглероден отпечаток</h2>
                        <p class="description">Јаглеродниот отпечаток е мерка за влијанието што го имаат нашите активности врз количината на јаглерод диоксид (СО2) произведена преку согорување на фосилни горива.

                            Овој фактор е многу важен бидејќи глобалната цел е планетата Земја да не ја надмине просечната атмосферска температура од 2 степени целзиусови. Тоа може да се случи со намалување на согорувањето на фосилни горива, па затоа многу е важно да се ограничи нашиот јаглероден отпечаток.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Проценувач на јаглероден отпечаток</h2><br/>
                        <p class="description">


Според еколошките цели за 2020 година секој човек треба да произведе помалку од 10.5 тони јаглероден диоксиод. Оваа варијабла за жал се намалува секоја година.

Од каде доаѓа нашата енергија, дали од обновливи извори или јаглен, дали јадеме повеќе или помалку месо, колку и како патуваме, ове се фактори кои драстично можат да го намалат нашиот јаглероден отпечаток.

За да го пресметаме нашиот личен јаглероден отпечаток можете да го искористите нашиот калкулатор за јаглероден отпечаток кој користи податоци релевантни за Македонија.
                        </p><br/>
                        <div style="text-align: center;">
                        <a  href="#kviz" class="btn btn-success btn-round">Пресметај </a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-12 custom " style="margin-left: 13%;">
                        <img src="https://www.flaticon.com/premium-icon/icons/svg/3300/3300958.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container mx-auto">
        </div> -->

        <div class="custom" id="kviz" style="border:1px solid #ced4da; " *ngIf="flagFinal === 0">
            <h2 style="text-align: center;"> Проценувач на јаглероден отпечаток</h2>
            <div class="row">
                <div class="col-md-5" style="margin:0 auto;margin-top:2%; margin-bottom: 7%; padding:3%; background-color: #f8f9fa!important; border-radius: 3%;" >
                    <app-energy  (eventClick)="handleEventClicked2($event)" *ngIf="flag === 0"></app-energy>
                    <app-diet  (eventClick)="handleEventClicked2($event)" *ngIf="flag === 1"></app-diet>
                    <app-transport (eventClick)="handleEventClicked3($event)" *ngIf="flag === 2"></app-transport>
                    <app-habits (eventClick)="handleEventClicked4($event)" *ngIf="flag === 3"></app-habits>
                </div>
            </div>

        </div>
        <div style="margin-bottom: 5%; margin-top: 5%;">
            <app-result (eventClick)="handleEventClicked5($event)" *ngIf="flag === 4" style="margin-top: 5%; margin-bottom: 5%;"></app-result>

        </div>


        <div class="section section-dark">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Мотивација</h2>
                        <p class="description">
                            Сакаме да создадеме веб-портал кој ќе нуди различни алатки и информации од сферата на екологијата и животната средина.
                             Осеќаме потреба да го направиме овој проект бидејќи сакаме да ги освестиме граѓаните за секојдневните еколошки проблеми со кои
                             што се соочуваме и да им поттикнеме желба за промена.
                             Со мали чекори, сугестии, промена на навики можеме да создадеме позитивна промена која што започнува од нас.
                            </p>
                    </div>
                </div>

                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Ви благодариме на поддршката!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>

                        <a href="#" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
