<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('https://correspondent.afp.com/sites/default/files/styles/list_xl/public/medias/aa_new_posts/countries/macedonia/skopje-pollution-dec17/macedonia-pollution-skopje-010.jpg?itok=dBo3wxFm')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="" alt="">
                    </div>
                    <h1 class="presentation-title">ЈаглерО2</h1>

                </div>

                <h2 class="presentation-subtitle text-center">

                            Пресметајте го вашиот јаглероден отпечаток, станете свесни за проблемите во општеството.
                            Почнете од тука.<br>
                            <a  [routerLink]="['/forms-slider']" class="btn btn-success btn-round">Пресметај </a>
                        </h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>


    <div class="main">

    <div class="custom">
        <div class="row">
            <div class="col-md-5" style="margin:0 auto;margin-top:7%; margin-bottom: 7%; padding:3%; " >
                <app-energy  (eventClick)="handleEventClicked2($event)" *ngIf="flag === 0"></app-energy>
                <app-diet  (eventClick)="handleEventClicked2($event)" *ngIf="flag === 1"></app-diet>
                <app-transport (eventClick)="handleEventClicked3($event)" *ngIf="flag === 2"></app-transport>
                <app-habits (eventClick)="handleEventClicked4($event)" *ngIf="flag === 3"></app-habits>
                <app-result (eventClick)="handleEventClicked5($event)" *ngIf="flag === 4"></app-result>
            </div>
        </div>

      </div>




        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Карбон Калкулатор</h2><br/>
                        <p class="description">
                            Идејата на карбон калкулаторот е да го пресмета вашиот јаглероден отпечаток што вие го оставате во општеството, да ве запознае со
                            работите кои навидум ви личат како да не прават разлика, да ве корегира за тоа што можете да го промените за општото добро
                            на општетсвото. Да ве направи еколошки свесни и активни!
                        </p><br/>
                        <a  [routerLink]="['/forms-slider']" class="btn btn-success btn-round">Пресметај </a>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <img src="https://img.pngio.com/calculate-your-carbon-footprint-carbon-footprint-icon-png-carbon-footprint-png-515_650.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Completed with examples</h2>
                        <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you like what you see?</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>

                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Ви благодариме на поддршката!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>

                        <a href="#" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
