<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('../../../assets/img/goelec.jpg')">
        <div class="content-center">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2 class="title bold">Биди понапред, GO ELECTRIC</h2>
            </div>
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Why ELECTRIC?</h2>
                    <h5 class="description">Запознајте се со сите опции кои ги нуди нашата влада за електрични автомобили.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>

        </div>
    </div>



</div>