<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                 <li><a href="#" class="btn btn-link btn-just-icon "><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#" class="btn btn-link btn-just-icon "><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#" class="btn btn-link btn-just-icon "><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </nav>

            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} тимот на ЈаглерО2
                </span>
            </div>
        </div>
    </div>
</footer>
